.page {
    display: flex;
    flex-direction: column;
}

.headerBar {
    background-color: blue;
    display: flex;
    flex: 1;
}

.searchBar {
    background-color: green;
    display: flex;
    flex: 2;
}